<div class="container" style="width: 450px">
<img src="https://cdn.discordapp.com/attachments/599659573594423309/599723425203748864/FRIENDS-WITH-FOOD.png" style="width: 400px" />
<br>
<button class="btn btn-info" >Login</button>
<button class="btn btn-success">Create an Account</button>
</div>
