<div class="container" style="maxwidth: 50%">
<img src="./../../assets/images/Artboard_67.png" />
<h1 class="display-1">New User</h1>1

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
<%= link_to 'Home', root_path %>

</div>