<%= stylesheet_link_tag "style.css" %>
<div class="container">
<div class="card rounded" style="width: 50rem; padding:20px; margin: 20px;background: white">
  <div class="card-body">
    <h1 class="card-title">New Event
</h1>

<%= render 'form', event: @event %>

<%= link_to 'Back', events_path %>
